@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  overflow-y: scroll; /* Allows vertical scrolling to still be possible */
}
html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;  /* Includes padding and border in the element's total width and height */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #333;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-upload-label {
  background-color: #5c67f2;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.file-name-label {
  background-color: #9933cc;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

.file-input {
  display: none;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #45a049;
}
.results-list {
  list-style: none;
  padding: 0;
}

.result-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #e0e0e0;
  cursor: pointer;
}

.result-item.selected {
  background-color: #a0a0ff;
}

.result-item:hover {
  background-color: #c0c0ff;
}

.handbook-card {
  max-height: 80vh; /* Ensures the card does not exceed the viewport height */
  width: 80%; /* Sets the width of the card to 80% of its container's width */
  display: flex; /* Keeps the image and text containers side by side */
  flex-direction: row; /* Ensures the flex items are laid out horizontally */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Adds shadow for better visibility */
  border-radius: 10px; /* Rounds the corners of the card */
  overflow: hidden; /* Ensures no child elements overflow the rounded corners */
  background-color: #fff; /* Sets a background color for the card */
  padding: 20px; /* Provides spacing inside the card */
  margin: auto; /* Centers the card horizontally within its container */
}

.handbook-card:hover {
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15); /* Changes shadow on hover for a subtle interactive effect */
}

.loading-container {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Takes full viewport height */
  width: 100vw; /* Takes full viewport width */
}

.loading-message {
  font-size: 20px;
  color: #000000; /* Adjust the color as needed */
}

.loading-animation {
  animation: fadeInOut 5s linear infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.handbook-image-container {
  flex: 0.35; /* Takes up 35% of the flexbox space */
  display: flex;
  flex-direction: column; /* Images are laid out vertically */
  overflow-y: auto; /* Enables vertical scrolling */
  align-items: center; /* Centers the content vertically */
  justify-content: center; /* Centers the content horizontally */
  padding: 10px; /* Padding around the container */
}

.dish-image {
  width: 100%; /* Full width of its container */
  max-height: 350px; /* Controls maximum height to allow multiple images */
  object-fit: contain; /* Ensures the image is fully visible and maintains its aspect ratio */
  border-radius: 15px; /* Optionally round the corners of the image */
  margin-bottom: 10px; /* Space between images */
}

.handbook-text-container {
  flex: 0.65; /* Takes up 65% of the flexbox space */
  padding: 20px;
  text-align: left;
  font-family: 'Merriweather', serif; /* Custom font for better appearance */
  overflow-y: auto; /* Enables vertical scrolling if text exceeds the container height */
  max-height: calc(100vh - 40px); /* Adjusting for padding and maintaining within the viewport height */
}
.conversation-entry {
  margin-bottom: 15px;
  font-size: 18px; /* Slightly larger font size */
  line-height: 1.6; /* Improved line spacing for readability */
  color: #333; /* Dark grey color for text - easier on the eyes than pure black */
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1); /* Soft shadow for text */
}

.conversation-entry:hover {
  background-color: #eaeaea; /* Changes background on hover */
  cursor: pointer; /* Changes cursor to indicate interactivity */
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
